.idea/
docker-php74/databases/*
!docker-php74/databases/.gitkeep
docker-php74/logs/nginx/*
!docker-php74/logs/nginx/.gitkeep
!docker-php74/logs/php/*
!docker-php74/logs/php/.gitkeep
htdocs/*
!htdocs/index.php